a{
  text-decoration: none;
}
p{
  margin-bottom: 0;
}

#talkbubble,#talkbubbleleft{
  margin-left:30px;
  max-width:130px;
  min-height:60px;
  background:#FFFFFF;
  position:relative;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  padding: 0.5rem;
}
#talkbubbleleft:before{
  content:"";
  position:absolute;
  left:100%;
  top:15px;
  width:0;
  height:0;
  border-top:13px solid transparent;
  border-bottom:13px solid transparent;
  border-left:26px solid #FFFFFF;
}
#talkbubbleleft{
  margin: 0;
  margin-left: 38vw;
}
#talkbubble:before{
  content:"";
  position:absolute;
  right:100%;
  top:15px;
  width:0;
  height:0;
  border-top:13px solid transparent;
  border-bottom:13px solid transparent;
  border-right:26px solid #FFFFFF;
}
